[Desktop Entry]
Name=YouTube on TV
GenericName=YouTube
Comment=YouTube for 10 foot UI with D-pad navigation
Exec=env GDK_BACKEND=x11 yttv --freeze-on-focus-loss
Icon=com.webyfy.yttv
Terminal=false
Type=Application
Categories=Network;Video;AudioVideo;X-YADE;
OnlyShowIn=YADE
